.root {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px 25px;
    position: fixed;
    border-bottom: 1px solid white;
    color: white;
    z-index: 5;
    ul {
        list-style: none;
        padding: 0;
        display: flex;
    }

    li {
        margin-left: 10px;
    }
}

.logo {
    width: 180px;
    img {
        width: 100%;
    }
}